.promo {
    width: auto;
}

.promo__slide {
    width: 100%;
    background-image: url("../../img/bgr-slider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    outline: 0;
}

.promo__content {
    @include wrapper;
    position: relative;
    min-height: 675px;
}

.promo__title {
    margin: 0;
    padding: 0;
    font-family: "LemonTuesday", fantasy;
    font-size: 90px;
    line-height: 80px;
    color:$accent-light;
    max-width: 500px;
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative
}

.promo__title--sale::after {
    content: "";
    position: absolute;
    width: 141px;
    height: 141px;
    background-image: url("../../img/sale.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 50px;
    right: -180px;
}
.promo__descr {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    color: $bgr-color;
}

.promo__link {
    display: inline-block;
    width: 22%;
    max-width: 245px;
    padding: 15px 0 17px 0;
    box-sizing: border-box;
    vertical-align: baseline;
    color: $bgr-color;
    background-color: $accent-opposite;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 150px;

    &:hover {
        background-color: darken($color: $accent-opposite, $amount: 10%);
    }
}

.promo__button {
    display: none;
}

@media (max-width: 769px) {
    .promo__title {
        font-size: 72px;
        width: 70%;
    }

    .promo__title--sale::after {
        top: 20%;
        left: 75%;
    }
    
    .promo__link {
        margin-bottom: 60px;
    }

    .promo__content {
        min-height: 420px;
    }
}

@media (max-width: 425px) {
    .promo__link {
        display: none;
    }

    .promo__title {
        font-size: 49px;
    }
    .promo__title--sale::after {
        top: 60%;
        left: 45%;
        width: 76px;
        height: 76px;
        background-image: url("../../img/sale-mobile.png");
    }
}
