$bgr-color: #ffffff;
$bgr-dark: #1a2d34;

$text-color: #4d4d4d;
$text-dark: #000000;
$text-light: #a1a9b0;
$text-title: #32505a;
$accent-light: #84c604;
$accent-dark: #1fba0a;
$accent-opposite: #fd4f10;

$dot-color: #b3b3b3;

$mobile: 320px;
$tablet: 750px;
$desktop: 1170px;